html,body {
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color:#fff;
}

#container{
    display: grid;
    --rightcolumnw: 80px;
    --canvaswidth: calc(100% - var(--rightcolumnw));
    grid-template-columns: var(--rightcolumnw) var(--canvaswidth);
    justify-content: center;
    justify-items: center;
}
.column {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.left{
    float: left;
    margin: 0;
}

h1 {
    font-family: Monoton;
    font-size: 300%;
    margin: 0.1em;
    color:rgb(114, 0, 167);
}

h2 {
    margin: 5px auto;
    font-size: 15px;
    color: #333;
}

.tooltittle {
    float:left;
    margin:5px 0 0 5px;
    font-size:13px;
}
table,
tr,
td {
    border: 1px solid rgb(197, 197, 197);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    cursor: pointer;
}

tr,td {
    height: 20px;
    margin: 0;
}

#pixelsize{
    display: block;
}

.label{
    display: block;
    float: left;
    width: 100%;
    margin:5px 0 0 5px;
    color:#ccc;
    font-size: 12px;
    text-align: left;
}

input{
 display: block;
 float: left;
 margin:1px 5px;
 padding:5px;
 border: 1px solid #ccc;
 border-radius: 5px;
 outline: none;
}
input[type=number] {   
    width: 4em;
}

input[type=submit] {    
    width: 5em;
    background: green;
    color: #fff;
    cursor: pointer;
}

input[type=color] {
    float: left;
    margin: 0 0 5px 5px;
    width: 4.4em;
    height: 4.4em;
    border: none;
    cursor: pointer;    
}

#palette{
    float: left;
    width: 68px;
    margin: 1px 5px;
    display: grid;
    grid-template-columns: repeat(4, 17px);
    border: 1px solid #777;
    border-radius: 2px;
}

.palettecolor{
    height: 14px;
    cursor: pointer;
}